<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pragalbha Patil" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="
      base-uri 'none';
      default-src 'self';
      form-action 'none';
      frame-src https://www.youtube.com;
    " />

    <link rel="prefetch" href="/assets/app.css" />
    <link rel="prefetch" href="/assets/highlight.css" />

    <title>Pragalbha Patil | {{ page.title }}</title>
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/app.css" />
  </head>
  <body>
    <nav>
      <div class="content">
        <h1><a href="/">Pragalbha Patil</a></h1>
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </div>
    </nav>
    <article>
      <div class="content">
        {{ content }}
      </div>
    </article>
    <footer>
      <div class="content">
        <p>Written by <strong>Pragalbha Patil</strong>. Software engineer living in Mumbai and currently working at <a href="https://www.gocomet.com">GoComet</a></p>
      </div>
    </footer>
    <link rel="stylesheet" type="text/css" href="/assets/highlight.css" />
  </body>
</html>
